@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');

*{
  margin: 0;
  padding: 0;
  font-family:centuri gothic;
  font-size-adjust: auto;
}

.logo img{
  position: absolute;
  z-index: 100;
  float: left;
  width: auto;
  height: 15%;
  padding-left: 1.83%;
  padding-top: 0.13%;
}
header{
  background-image:url(../background/mountain.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#particles-js{
 position: absolute;
 height: 15%;
 width: 100%;
  background: #093278;
  opacity: 0.5;
}


.home {
  width: 7.32%;
  height: 3.91%;
  background-color: #38465B;
  position: absolute;
  right: 21.96%;
  top: 6.51%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}
.home:after, .home:before {
  content: 'HOME';
  font-size: 1.2vw;
  font-weight: bold;
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.home:hover:after {
  top: -50%;
}
.home:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f015';
  color: #000;
  font-size: 1.8vw;
  top: 190%;
}
.home:hover:before {
  top: 50%;
}
.gallery {
  width: 7.32%;
  height: 3.91%;
  background-color: #38465B;
  position: absolute;
  right: 13.91%;
  top: 6.51%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #38465B;
}
.gallery:after, .gallery:before {
  content: 'GALLERY';
    font-size: 1.2vw;
  font-weight: bold;
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.gallery:hover:after {
  top: -50%;
}
.gallery:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f083';
  font-size: 1.8vw;
  top: 190%;
}
.gallery:hover:before {
  top: 50%;
}

.about {
  width: 7.32%;
  height: 3.91%;
  background-color: #38465B;
  position: absolute;
  right: 5.86%;
  top: 6.51%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #38465B;
}
.about:after, .about:before {
  content: 'ABOUT';
    font-size: 1.2vw;
    font-weight: bold;
    color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.about:hover:after {
  top: -50%;
}
.about:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f509';
  font-size:1.8vw;
  top: 190%;
  color: #000;
}
.about:hover:before {
  top: 50%;
}
.contacts {
  width: 7.32%;
  height:3.91%;
  background-color: #38465B;
  position: absolute;
  right: -2.2%;
  top: 6.51%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #38465B;
}
.contacts:after, .contacts:before {
  content: 'CONTACTS';
    font-size: 1.2vw;
    font-weight: bold;
    color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.contacts:hover:after {
  top: -50%;
}
.contacts:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f095';
  font-size: 1.8vw;
  top: 190%;
  color: #000;
}
.contacts:hover:before {
  top: 50%;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.title h1{
  color: #fff;
  font-family: 'Archivo', sans-serif;
  font-size:10vw;
  top: 50%;
  left: 50%;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.01vw;
  -webkit-text-stroke-color: black;
  cursor: none;
}

.hire{
 position: absolute;
 font-size: 2.2vw;
 top: 70%;
 left: 32%;
 transform: translate(-50%,50%-);
}

.btn{
  color: #fff;
  border: 0.15vw solid;
  border-radius: 2.2vw;
  border-color: #fff;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  padding: 0.49vw 2.2vw;
  text-decoration: none;
  background-color: #1D1F6E;
}

.btn:hover{
  color: #000;
  padding: 0.49vw 2.2vw;
  background-color: #fff;
  border-color: #000;
  transition: 0.6s ease;
}

ul{
  position: absolute;
  top: 72%;
  left: 60%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
  height: 3.5vw;
  width:18.74vw;
}

ul::before{
  content: 'Follow';
  color: #fff;
  text-align: center;
  line-height:3.5vw;
  font-family: 'Josefin Slab', serif;
  font-size: 2.2vw;
  margin-left: -1vw;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height:100%;
  border: 0.15vw solid;
  background-color:#1D1F6E;
  border-radius: 100vw;
  transition: 0.5s;
  z-index: 1;

}
ul:hover::before{
  font-family: 'Font Awesome\ 5 Free';
  content: '\f1e0';
  color: #000;
  text-align: center;
  line-height:3.5vw;
  width: 3.5vw;
  background-color: #fff;

}


ul li{
  position: absolute;
  list-style: none;
  transition: 1s;

}


ul li a{
  display: block;
  font-size: 2vw;
  width:3.5vw;
  height: 3.5vw;
  line-height: 3.5vw;
  text-align: center;
  background: #392843;
  color: #fff;
  border-radius: 50%;
  width: 3.5vw;
  transition: 1s;
}



 ul li:nth-child(1) a{
   background: #3b5999;
 }

 ul li:nth-child(2) a{
   background: #25D366;
 }

 ul li:nth-child(3) a{
   background: #e4405f;
 }

 ul li:nth-child(4) a{
   background: #0077B5;
 }

ul:hover li:nth-child(1) a{
  transform: translateX(4.69vw) rotate(360deg);
}

ul:hover li:nth-child(2) a{
  transform: translateX(9.37vw) rotate(360deg);
}

ul:hover li:nth-child(3) a{
  transform: translateX(14.06vw) rotate(360deg);
}

ul:hover li:nth-child(4) a{
  transform: translateX(18.74vw) rotate(360deg);
}
