@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');

*{
  margin: 0;
  padding: 0;
  font-family:centuri gothic;
}

.logo img{
  position: absolute;
  z-index: 100;
  float: left;
  width: 90px;
  height: auto;
  padding-left: 25px;
  padding-top: 1px;
}
header{
  background-image:url(../background/mountain.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#particles-js{
 position: absolute;
 height: 15%;
 width: 100%;
  background: #093278;
  opacity: 0.5;
}


.home {
  width: 100px;
  height: 30px;
  background-color: #38465B;
  position: absolute;
  right: 300px;
  top: 50px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}
.home:after, .home:before {
  content: 'HOME';
  font-weight: bold;
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.home:hover:after {
  top: -50%;
}
.home:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f015';
  color: #000;
  font-size: 25px;
  top: 190%;
}
.home:hover:before {
  top: 50%;
}
.gallery {
  width: 100px;
  height: 30px;
  background-color: #38465B;
  position: absolute;
  right: 190px;
  top: 50px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #38465B;
}
.gallery:after, .gallery:before {
  content: 'GALLERY';
    font-weight: bold;
    color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.gallery:hover:after {
  top: -50%;
}
.gallery:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f083';
  font-size: 25px;
  top: 190%;
}
.gallery:hover:before {
  top: 50%;
}

.about {
  width: 100px;
  height: 30px;
  background-color: #38465B;
  position: absolute;
  right: 80px;
  top: 50px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #38465B;
}
.about:after, .about:before {
  content: 'ABOUT';
    font-weight: bold;
    color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.about:hover:after {
  top: -50%;
}
.about:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f509';
  font-size: 25px;
  top: 190%;
  color: #000;
}
.about:hover:before {
  top: 50%;
}
.contacts {
  width: 100px;
  height:30px;
  background-color: #38465B;
  position: absolute;
  right: -30px;
  top: 50px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #38465B;
}
.contacts:after, .contacts:before {
  content: 'CONTACTS';
    font-weight: bold;
    color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.contacts:hover:after {
  top: -50%;
}
.contacts:before {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f095';
  font-size: 25px;
  top: 190%;
  color: #000;
}
.contacts:hover:before {
  top: 50%;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.title h1{
  color: #fff;
  font-family: 'Archivo', sans-serif;
  font-size:100px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  cursor: none;
}

.hire{
 position: absolute;
 font-size: 30px;
 top: 70%;
 left: 32%;
 transform: translate(-50%,50%-);
}

.btn{
  color: #fff;
  border: 2px solid;
  border-radius: 30px;
  border-color: #fff;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #1D1F6E;
}

.btn:hover{
  color: #000;
  padding: 10px 30px;
  background-color: #fff;
  border-color: #000;
  transition: 0.6s ease;
}

ul{
  position: absolute;
  top: 72%;
  left: 60%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
  height: 55px;
  width:256px;
}

ul::before{
  content: 'Follow';
  color: #fff;
  text-align: center;
  line-height: 55px;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  margin: 2px 2px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height:100%;
  border: 2px solid;
  background-color:#1D1F6E;
  border-radius: 30px;
  transition: 0.5s;
  z-index: 1;

}
ul:hover::before{
  font-family: 'Font Awesome\ 5 Free';
  content: '\f1e0';
  color: #000;
  text-align: center;
  width: 55px;
  background-color: #fff;

}


ul li{
  position: absolute;
  list-style: none;
  transition: 1s;

}


ul li a{
  display: block;
  width:55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background: #392843;
  color: #fff;
  margin: 2px 4px;
  border-radius: 50%;
  font-size: 25px;
  transition: 1s;
}



 ul li:nth-child(1) a{
   background: #3b5999;
 }

 ul li:nth-child(2) a{
   background: #25D366;
 }

 ul li:nth-child(3) a{
   background: #e4405f;
 }

 ul li:nth-child(4) a{
   background: #0077B5;
 }

ul:hover li:nth-child(1) a{
  transform: translateX(64px) rotate(360deg);
}

ul:hover li:nth-child(2) a{
  transform: translateX(128px) rotate(360deg);
}

ul:hover li:nth-child(3) a{
  transform: translateX(192px) rotate(360deg);
}

ul:hover li:nth-child(4) a{
  transform: translateX(256px) rotate(360deg);
}
